@font-face {
	font-family: 'Gilroy-Bold'; 
	src: url(/fonts/gilroy-bold.ttf);  
}
@font-face {
	font-family: 'Gilroy-Medium'; 
	src: url(/fonts/gilroy-medium.ttf);  
}
body {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    justify-content: center;
    height: 700px;
}
.container {
    width: 85%;
    height: 100vh;
}
.navigation {
    width: 100%;
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
}
.navText {
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    text-decoration: 0;
    transition: .2s linear;
}
.navText:hover {
   color: #070707;
}
.vector {
    border: 1px solid #828282;
    margin-top: 27px;   
}
.topic {
    display: flex;
    justify-content: space-between;
    margin-bottom: -7px;
}
.nameLogo {
    width: min-content;
    font-family: Gilroy-Bold;
    font-size: 45px;
    line-height: 59px;
    color: #070707;
    margin-top: 31px;
}
.myDescription {
    font-family: Gilroy-Medium;
    font-size: 15px;
    line-height: 22px;
    color: #070707;
    max-width: 165px;
    font-weight: 600;
    position: relative;
    top: 80px;
    left: -60px;
}
.languageList{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 52px;
}
.languageList >li{
    list-style: none;
}
.language {
    font-family: Gilroy-Bold; 
    font-size: 19px;
    text-transform: uppercase;  
    text-decoration: none;
    color: #828282;
    height: 20px;
    text-align:center;
    display: flex;
    transform: rotate(-90deg);
    transition: .2s linear;
}
.dividerLang {
    margin: 0 7px;
    position: relative;
    top: -2.5px;;
}
.language:hover {
    color: #070707;
}
.photo {
    width: 100%;
    height: 385px;
    background: url(/images/scream.png) no-repeat;
    background-size: cover;
}
.center {
    height: 503px;
    width: 100%;
    margin-top: 103px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerSlide {
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    margin-top: 17%;
    margin-bottom: 4px;
}
.aboutCaption {
    height: 227px;
    width: 30%;
}
.captionSlide {
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    margin-bottom: 50px;
}
.block {
    height: 503px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.skillsHeader {
    margin-top: 65px;
}
.skills > .captionSlide{
    margin-top: 2.4%;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    margin-top: 52px;
    margin-bottom: 78px;

}
.panelProgs{
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.cardProgs {
    width: 166.46px;
    height: 130%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px;
}
.starPanel{
    width: 100%;
    display: flex;
    justify-content: center;
}
svg {
    margin: 0 2.9px;
}
.nameProgrs {
    font-family: Gilroy-Bold;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}
.contactsHeader {
    margin-bottom: 20px;
    margin-top: 0px;
}
.contactsText {
    margin: 7px 0;
}
.serviceSaption {
    height: auto;
}
.btn {
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    width: 180.5px;
    height: 41.81px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 16.3px;
    font-family: Gilroy-Bold;
    text-decoration: none;
    margin-top: 50px;
    transition: .1s linear;
}
.btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(224, 200, 63);
}
.mediaPanel {
    width: 450.18px;
    padding: 0;
    height: 40.74px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 42px;
}
.smm {
    color: #828282;
    font-size: 13px;
    font-family: Gilroy-Medium;
    text-align: center;
    margin-top: 20px;
}

.skillsBlock {
    height: 393px;
}
.burgerPoint {
 display: none;       
}
.burger {
    display: none;
}
